*{
  
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
  
}

footer{
    background-color:#1F1D1D;
    width: 100%;
}


a{
    text-decoration: none;
    color: white;
}

footer .listas{
    padding-top: 30px;
    color: white;
    text-align: center;
}



footer .dias{
    position: relative;
    left: -10px;
}

footer .listas .contenedor-navegacion a , .contenedor-redes a , .contenedor-venta a{
    
    position: relative;
    bottom: 10px;
   
}



footer .contenedor-subs form{
    margin-top: 3px;
    padding-top: 12px;
}



footer .listas a {
    font-family: 'Roboto';
    padding-bottom: 50px;
     

}



footer .listas  p{
    font-family: 'Roboto';
    padding-bottom: 13px;
    font-size: 12px;
}



footer .contenedor-venta .whatsapp i{
    background-color: green;
    border-radius: 10px;
}



footer .contenedor-subs{
    position: relative;
    bottom: 8px;
    
}

footer .contenedor-subs label{
    font-family: 'Roboto';
    font-size: 20px;
    position: relative;
    top: -5px;
    
}


footer .contenedor-subs p{
    padding-top: 10px;
    font-family: 'Roboto';

}


footer .contenedor-subs button{
    
    cursor: pointer;
 

}

footer hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid white;
    margin: 20px auto;
}




footer  .copyright{
        padding-bottom: 15px;
        font-size: 10px;
        color: white;
        text-align: center;
        font-family: 'Roboto';       
}

footer .social-icons .fab{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: black;
    background: white;
    margin-right: 15px;
    cursor: pointer;
    margin-top: 15px;
}

footer .listas  p{
    font-family: 'Roboto';
font-size: 12px;
left: 1px;
width: fit-content;
position: relative;
}


@media (max-width: 426px){

footer  .contenedor-subs form , .contenedor-subs p {
    display: none;
    
}

footer .horario {
    position: relative;
    left: -43px;
}

footer .contenedor-subs label{
    font-size: 20px;
}

footer .contenedor-venta a{
    font-size: 18px;

}
footer .underline{
    width: 80px;
height: 5px;
background: #767676;
border-radius: 3px;
position: absolute;
margin-top: 25px;
margin-right: 10px;
overflow: hidden;
    
}


}

/* Tablet*/


@media (min-width: 426px){

    footer .venta-nav {
        padding-top: 30px;
        color: white;
        text-align: center; 
        display: flex;
        
    }

    footer .listas  p{
        font-family: 'Roboto';
        padding-bottom: 13px;
        font-size: 13px;
    }

    

    footer .social-icons .fab{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        line-height: 40px;
        text-align: center;
        font-size: 20px;
        color: black;
        background: white;
        margin-right: 15px;
        cursor: pointer;
    }
    

    
    
}

@media (max-width: 767px) {
    footer .contenedor-subs form , .contenedor-subs p {
        display: none;
    }

    footer .contenedor-navegacion{
        display: none;
    }
    


    footer .contenedor-subs .underline{
        display: none;
    }

    footer .underline{
        width: 100px;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    margin-top: 25px;
    margin-right: 10px;
    overflow: hidden;
        
    }
    
    footer .underline span{
        width: 15px;
        height: 100%;
        background: #fff;
        border-radius: 3px;
        position: absolute;
        top: 0;
        left: 10px;
        animation: moving 2s linear infinite;
    }
    
    @keyframes moving {
        0%{
            left: -20px;
        }
        100%{
            left: 100%;
        }
        
    }

    footer  .contenedor-venta{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px
    }

   
}


/* desktop*/


    
    @media (min-width: 768px){
       
       
        footer .listas{   
        display: flex;
       text-align: justify;
        justify-content: space-around;
       
        }
    
        footer .contenedor-subs form{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: solid 1px white;
            margin-bottom: 50px;
            padding-bottom: 15px;
        }
        

        footer .contenedor-subs form .far{
        font-size: 18px;
        margin-right: 10px;
        }

        footer .contenedor-subs form input{
            background: transparent;
            color: white;
            border: 0;
            outline: none;

        }


        footer .contenedor-subs form button{
            background: transparent;
            border: 0;
            outline: none;
            cursor: pointer;
        }


        footer .contenedor-subs form button .fas{
            font-size: 16px;
            color: white;
        }

        footer .social-icons .fab{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            line-height: 40px;
            text-align: center;
            font-size: 20px;
            color: black;
            background: white;
            margin-right: 15px;
            cursor: pointer;
        }
    

    

        footer .listas  p{
            font-family: 'Roboto';
        font-size: 12px;
        left: 1px;
        width: fit-content;
    position: relative;
        
}

footer .underline{
    width: 80px;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    margin-bottom: 10px;
    overflow: hidden;
    
}

footer .underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
    
}
        
}


