*{
  
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
  
}

footer{
    background-color:#1F1D1D;
    width: 100%;
}


a{
    text-decoration: none;
    color: white;
}

footer .listas{
    padding-top: 30px;
    color: white;
    text-align: center;
}





footer .dias{
    position: relative;
    left: -10px;
}

footer .listas .contenedor-navegacion a , .contenedor-redes a , .contenedor-venta a{
    
    position: relative;
    bottom: 10px;
   
}



footer .contenedor-subs form{
    margin-top: 3px;
    padding-top: 12px;
}

footer .contenedor-venta , .contenedor-redes {
    padding-top: 20px;
    
}


footer .listas a {
    font-family: 'Kanit', sans-serif;
    padding-bottom: 50px;
     

}



footer .listas  p{
    font-family: sans-serif;
    padding-bottom: 13px;
    font-size: 12px;
}



footer .contenedor-venta .whatsapp i{
    background-color: green;
    border-radius: 10px;
}




footer  .contenedor-redes .instagram i{
    background: linear-gradient(#8a3ab9,#e95950,#bc2a8d,#f69d3c,  #fbad50,#cd486b,#4c68d7);
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 26px;
}

footer  .contenedor-redes .facebook i{
    background-color: #3b5998;
    border-radius: 5px;
    width: 22px;
    height: 26px;
    font-size: 26px;
    
}

footer .contenedor-subs{
    position: relative;
    bottom: 8px;
    
}

footer .contenedor-subs label{
    font-family: 'Kanit';
    font-size: 20px;
    position: relative;
    top: -5px;
    
}


footer .contenedor-subs p{
    padding-top: 10px;
    font-family: 'Kanit';

}


footer .contenedor-subs button{
    width: 150px;
    height: 30px;
    font-size: 10px;
    font-family: 'Kanit';
    background-color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
 

}


footer .contenedor-subs input{
    width: 300px;
    height: 40px;
    margin-bottom: 15px;
   font-size: 13px;
 
}
    


footer  .copyright{
    
        padding-top: 60px;
        padding-bottom: 15px;
        font-size: 10px;
        color: white;
        text-align: center;
        font-style: italic;
        font-family: 'Roboto';       
}

@media (max-width: 426px){

footer .contenedor-navegacion, .contenedor-subs{
    display: none;
    
}

footer .horario {
    position: relative;
    left: -43px;
}

footer .contenedor-subs label{
    font-size: 20px;
}

footer .contenedor-venta a{
    font-size: 18px;

}

}



@media (min-width: 426px){

    footer .listas {
        padding-top: 30px;
        color: white;
        text-align: center;
        
    }

    footer .listas  p{
        font-family: sans-serif;
        padding-bottom: 13px;
        font-size: 16px;
    }
    
}



    
    @media (min-width: 768px){
       
       footer .contenedor-subs{
           display: contents;
       }
    
        footer .listas{   
        display: flex;
       text-align: justify;
        justify-content: space-around;
       
        }
    
        footer .contenedor-subs label {
            font-family: 'Kanit';
            font-size: 16px;
            left: 100px;
        }
    
footer .contenedor-subs .subscrib{
            padding-left: 60px;
 }
    
    
footer .contenedor-subs button{
position: relative;
        left: 75px;
        }

    
 footer .contenedor-navegacion{
     margin-top: 20px;
     }

        footer .listas  p{
            font-family: sans-serif;
            padding-bottom: 13px;
            font-size: 12px;
            position: relative;
            left: -5px;
        }
}


